@{
    ViewBag.Title = "Ürün Düzenle";
    Layout = "~/Views/_AdminMaster.cshtml";
}
@model B2B.Models.Entity.PRODUCTS

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Ürün Ekle</h4>
        <ol class="breadcrumb">
            <li>
                <a href="/Admin/Index">Ana sayfa</a>
            </li>
            <li class="active">
                Ürün Ekle
            </li>
        </ol>
    </div>
</div>
<!-- Page-Title -->

<div class="row">
    <div class="col-sm-12">
        <form id="urunEkle">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-box">
                        <h5 class="text-muted text-uppercase m-t-0 m-b-20"><b>GENEL BİLGİLER</b></h5>

                        <div class="form-group m-b-20">
                            <label for="PRODUCT_NAME">Ürün Başlık (Ürün Adı)<span class="text-danger">*</span></label>
                            <input type="text" class="form-control controlForm" placeholder="Örn : Apple iMac" id="PRODUCT_NAME" data-name="Ürün Başlığı" value="@Model.UrunAdi" maxlength="250">
                        </div>


                        <div class="form-group m-b-20">
                            <label for="PRODUCT_CATEGORY">Ürün Kategorisi <span class="text-danger">*</span></label>
                            <select class="multipleSelect form-control controlForm" multiple name="language" id="PRODUCT_CATEGORY" style="font-size:13px"></select>
                        </div>
                        
                        <div class="form-group m-b-20">
                            <label for="PRODUCT_MARKAID">MARKA <span class="text-danger">*</span></label>
                            <select class="form-control controlFormSelects" id="PRODUCT_MARKAID" data-name="Marka">
                                <option value="*">Marka Seçiniz</option>
                            </select>
                        </div>

                        <div class="form-group m-b-20">
                            <label for="PRODUCT_MODELID">MODEL <span class="text-danger">*</span></label>
                            <select class="form-control controlFormSelects" id="PRODUCT_MODELID" data-name="Model">
                                <option value="*">Model Seçin</option>
                            </select>
                        </div>

                        <div class="form-group m-b-20">
                            <label>Ürün Kodu <span class="text-danger">*</span></label>
                            <input type="text" placeholder="Örn: MD2564" style="max-width:150px" id="UrunKodu" class="form-control controlForm" required data-name="Ürün Kodu" value="@Model.UrunKodu">
                            <span class="text-danger" id="warningText"></span>
                        </div>

                        <div class="form-group m-b-20">
                            <label>Stok <span class="text-danger">*</span></label>
                            <input type="text" placeholder="Örn: 100" style="max-width:100px" data-v-min="0" class="form-control controlForm" data-name="Ürün Stok Durumu" id="UrunStok" value="@Model.Stok">

                            <div class="checkbox checkbox-purple checkbox-circle">
                                <input name="StoktanDus" id="StoktanDus" type="checkbox">
                                <label for="StoktanDus">
                                    Ürünü stoktan düş
                                </label>
                            </div>
                        </div>

                        <div class="form-group m-b-20">
                            <label class="m-b-15">Kampanyalı Ürün <span class="text-danger">*</span></label>
                            <br />
                            <div class="checkbox checkbox-purple checkbox-circle">
                                <input id="PRODUCTS_FAV" type="checkbox" checked="">
                                <label for="PRODUCTS_FAV">
                                    Bu ürünü kampanyalı ürünler arasında göster
                                </label>
                            </div>
                        </div>

                        <div class="form-group m-b-20">
                            <label for="PRODUCT_ACTIVE">Ürün yayında <span class="text-danger">*</span></label>
                            <div class="checkbox checkbox-purple checkbox-circle">
                                <input id="PRODUCT_ACTIVE" type="checkbox" checked="">
                                <label for="PRODUCT_ACTIVE">
                                    Ürünü Hemen Yayınla (Satışa hazır hale getir)
                                </label>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card-box">
                        <h5 class="text-muted text-uppercase m-t-0 m-b-20"><b>FİYAT BİLGİLERİ VE ÜRÜN AÇIKLAMASI</b></h5>

                        <div class="col-md-4">
                            <div class="form-group m-b-20">
                                <label>Fiyat <span class="text-danger">*</span></label>
                                <input type="text" placeholder="Örn: 25" style="max-width:150px" data-v-min="0" class="form-control controlForm" data-name="Ürün Fiyatı" id="UrunFiyat" value="@string.Format("{0:#.#}", Model.UrunFiyat)">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group m-b-20">
                                <label for="PRODUCT_TAXCLASS">Ürün KDV Oranı</label>
                                <select class="form-control controlFormSelects" id="PRODUCT_TAXCLASS" data-name="KDV Oranı">
                                    <option value="1" disabled>%1</option>
                                    <option value="8" disabled>%8</option>
                                    <option value="18" selected>%18</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group m-b-20">
                            <label for="PRODUCT_DESCRIPTION">Ürün Açıklaması <span class="text-danger">*</span></label>
                            <textarea class="form-control" rows="5" id="PRODUCT_DESCRIPTION" placeholder="Lütfen ürünle ilgili açıklama giriniz">@HttpUtility.HtmlDecode(Model.UrunAciklama)</textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="card-box">
                                <img src="~/Upload/imajlar/@Model.UrunFotografi" class="thumb-img" style="width:140px; max-height:140px" alt="work-thumbnail" id="eskiFoto">
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="card-box">
                                <div class="form-group">
                                    <input type="file" class="form-control" id="yeniFoto" name="yeniFoto" /><br />
                                    <button type="button" class="btn w-sm btn-default waves-effect waves-light" id="fotoDegistir">
                                        Değiştir
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!---->
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center p-20">
                        <button type="button" class="btn w-sm btn-white waves-effect" id="btnCancel">Cancel</button>
                        <button type="button" class="btn w-sm btn-default waves-effect waves-light" id="saveChanges">
                            Ürünü Kaydet
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Bootstrap inputmask -->
<script src="/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" type="text/javascript"></script>
<!-- Auto numeric -->
<script src="/assets/plugins/autoNumeric/autoNumeric.js" type="text/javascript"></script>
<!--Summernote js-->
<script src="/assets/plugins/summernote/summernote.min.js"></script>
<script>

    function checkFileSize() {
        var donenDeger = true;
        if(yeniFoto.files[0].size < 300000) {
            donenDeger = false;
        }
        return true;
    }
    $('#btnCancel').click(function() {
        window.close();
    })

    /*/$('#yeniFoto').change(function() {
        if(checkFileSize() == false) {
            swal("Üzgünüm", "Yükleyeceğiniz fotoğraf maksimum 300,00KB olabilir.", "error");
        }
    });/*/

    $('#fotoDegistir').click(function() {
        if(checkFileSize()) {
            var formData = new FormData();
            formData.append('file', $('#yeniFoto')[0].files[0]);
            formData.append('urunId', @Model.Id)

            $.ajax({
                type: "POST",
                url: '@Url.Content("~/")Admin/changeFoto_getintofilesystem',
                processData: false,
                contentType: false,
                data: formData,
                success: function (d) {
                    swal("Bilgi", d.ReturnMsg, d.Error);
                    if(d.ReturnValue==1) {
                        $('#eskiFoto').attr('src', "/Upload/imajlar/" + d.ReturnMsg)
                    }
                },
            });
        }
        else{
            swal("Üzgünüm", "Yükleyeceğiniz fotoğraf maksimum 300,00KB olabilir.", "error");
        }
    });

    $('#saveChanges').click(function() {
        if (controlForms() != false) {

            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Content("~/")Admin/UrunKaydetveyaYenile',
                data: {
                    'Id' : @Model.Id,
                    'UrunAdi': $('#PRODUCT_NAME').val(),
                    'AlternatifKategoriler': JSON.stringify($('#PRODUCT_CATEGORY').val()),
                    'UrunVergiOrani': $('#PRODUCT_TAXCLASS').val(),
                    'UrunAgirlik': '0',
                    'UrunAgirlikSinifi': 1,
                    'UrunFiyat': $('#UrunFiyat').val(),
                    'UrunKodu': $('#UrunKodu').val(),
                    'UrunAciklama': $('#PRODUCT_DESCRIPTION').val(),
                    'Stok': $('#UrunStok').val(),
                    'GonderimTipi': "KARGO",
                    'IndirimGrubu': $("#PRODUCTS_FAV").prop('checked') == true ? "1" : "0",
                    'MinimumSiparisAdeti': $('').val(),
                    'MarkaId': $('#PRODUCT_MARKAID').val(),
                    'ModelId' : $('#PRODUCT_MODELID').val(),
                    'UrunDurum': $("#PRODUCT_ACTIVE").prop('checked') == true ? "1":"0",
                    'OneCikanUrun': $("#PRODUCTS_FAV").prop('checked') == true ? "1":"0",
                    'StoktanDus' : $("#StoktanDus").prop('checked') == true ? "1":"0",
                },
                success: function (donenveriler) {
                    swal("Bilgi", donenveriler.ReturnMsg, donenveriler.Error);
                }
            });
        }
        else {
            console.log("form false");
        }
    });

    $('#UrunKodu').focusout(function () {
        if('@Model.UrunKodu' != $(this).val()) {
            if ($(this).val() == "") {
                $('#warningText').removeClass("text-success");
                $('#warningText').addClass("text-danger");
                $('#warningText').html("<span class='fa fa-exclamation'></span> Ürün kodu boş bırakılamaz.");
            }
            else {
                $.get('@Url.Content("~/")Admin/UrunKoduKontrol', { 'UrunKodu': $(this).val() }, function (d) {
                    if (d == 'False') {
                        $('#warningText').removeClass("text-success");
                        $('#warningText').addClass("text-danger");
                        $('#warningText').html("<span class='fa fa-exclamation'></span> Bu kod kullanılıyor.");
                        $('#UrunKodu').focus();
                    }
                    else {
                        $('#warningText').removeClass("text-danger")
                        $('#warningText').addClass("text-success");
                        $('#warningText').html("<span class='fa fa-check'></span> KOD kullanılabilir.");
                    }
                });
            }
        }
        else {
            $('#warningText').removeClass();$('#warningText').html("<span class='fa fa-check'></span> Ürün kodu şu anki ile aynı.");
        }
    });
    function filedelete(urunId) {
        $.get('@Url.Content("~/")Admin/UrunFotoSil', { 'urunId': urunId }, function (d) {
            swal("Bilgi", d, "success");
        });
    }
    var altCats = "@Model.AlternatifKategoriler";
    var _x = altCats.split(',');
    //console.log(_x);

    $.get('@Url.Content("~/")Siparis/KategoriVer', {
    }, function (d) {
        
        $.each(d, function (i, val) {
            $('#PRODUCT_CATEGORY').append('<option value=' + d[i].Id + '>' + d[i].KategoriBaslik + '</option>')
        });
        }).done(function (d) {
            
            $.each(_x, function (x, val) {
                console.log(val.trim());
                $("#PRODUCT_CATEGORY option[value=" + val +"]").attr("selected", "selected");
            });
          
    $('.multipleSelect').fastselect();

    });
   
    $.get('@Url.Content("~/")Siparis/MarkaVer', {
    }, function (d) {
        $('#PRODUCT_MODELID').empty();
        $('#PRODUCT_MODELID').append("<option value='-1'>Tümü için geçerli</option>")
        $.each(d, function (i, val) {
            $('#PRODUCT_MARKAID').append("<option value=" + d[i].Id + ">" + d[i].Marka + "</option>")
        });
        $('#PRODUCT_MARKAID').val(@Model.MarkaId);
        //model seçtirelim
        if(@Model.ModelId == -1) {
            $('#PRODUCT_MODELID').val(-1);
        }
        else {
            $('#PRODUCT_MODELID').append("<option value='@Model.ModelId'>@ViewBag.UrunModelName</option>");
            $('#PRODUCT_MODELID').val(@Model.ModelId);
        }
    });

    $('#PRODUCT_MARKAID').change(function () {
        $.get('@Url.Content("~/")Siparis/ModelVer', {
            'MarkaId': $(this).val()
        }, function (d) {
            $('#PRODUCT_MODELID').empty();
            $('#PRODUCT_MODELID').append("<option value='-1'>Tümü için geçerli</option>")
            $.each(d, function (i, val) {
                $('#PRODUCT_MODELID').append("<option value=" + d[i].Id + ">" + d[i].Marka + "</option>")
            });

        });
    });

    $.get('@Url.Content("~/")Admin/GetFavState', {
        'id': @Model.Id,
    }, function (d) {
        if(d=="True") {
            $('#PRODUCTS_FAV').prop('checked', true);
        }
        else {
            $('#PRODUCTS_FAV').prop('checked',false);
        }
    });

    //automatic
    $('.autonumber').autoNumeric('init');

    function controlForms() {
        var donenDeger = true;
        $('.controlForm').each(function (i, key) {
            if ($(this).val() == "") {
                alert($(this).data('name') + " boş bırakılamaz.");
                donenDeger = false;
            }
        });
        $('.controlFormSelects').each(function (i, key) {
            if ($(this).find('option:selected').val() == "*") {
                alert($(this).data('name') + " boş bırakılamaz.");
                donenDeger = false;
            }
        });
        if($('#PRODUCT_ACTIVE').prop('checked') == false && $('#PRODUCTS_FAV').prop('checked') == true) {
            $('#PRODUCTS_FAV').prop('checked', false);
            swal("O-Ohh!", "Bir ürünü öne çıkarabilmeniz için önce o ürünü yayına sokmanız gerekiyor.\nÜrünü yayınla seçeneğini aktif ederek ürünü yayınlamayı başlatabilirsiniz", "error");
            donenDeger = false;
        }
        return donenDeger;
    }
    if(@Model.StoktanDus==1) {
        $('#StoktanDus').prop('checked', true);
    }
    else {
        $('#StoktanDus').prop('checked', false);
    }

    if(@Model.UrunDurum==1) {
        $("#PRODUCT_ACTIVE").prop('checked', true);
    }
    else {
        $('#PRODUCT_ACTIVE').prop('checked', false);
    }
    $('#PRODUCT_DESCRIPTION').summernote({
        height: 250,
        minHeight: null,
        maxHeight: null,
        focus: false
    });

</script>

<!-- Sweet-Alert  -->
<script src="/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="/assets/pages/jquery.sweet-alert.init.js"></script>
